/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/home-page.scss";

:root {
  --stripe-size: 100px;
  --color1: #FFFFFF;
  --color2: #000000;
  --duration: 2s;
}

body {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Gore Regular';
  src: url('assets/fonts/Gore Regular.otf') format('opentype');
}

@font-face {
  font-family: 'BladeBrotherhood';
  src: url('assets/fonts/BladeBrotherhood.otf') format('opentype');
}
